<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<meta http-equiv="Content-Security-Policy" script-src='unsafe-inline';>
<script src="app.js"></script>

<body ng-app="demoApp">

  <a href="#!main">Main Stories</a>
  <a href="#!new">New Stories</a>
  <a href="#!best">Best Stories</a>

  <div ng-view></div>
<!-- <p>Use the ng-bind directive to bind the innerHTML of an element to a property in the data model.</p> -->

</body>
</html>
